---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { motion } from "motion/react";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-full flex flex-col gap-4 max-w-3xl mx-auto mb-20">
    <Header />
    <main class="h-full px-8 flex flex-col gap-4 mt-4 md:mt-14">
      <motion.h1
        client:load
        initial={{ opacity: 0, y: -50 }}
        animate={{ opacity: 1, y: 0 }}>Hello World!</motion.h1
      >
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        I'm Fahri, a software developer specializing in mobile and web
        development with over <strong>six years of experience</strong>.
      </motion.p>
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        Currently, I develop apps at Telkom Indonesia, including <a
          class="link"
          href="https://pijarmahir.id"
          target="_blank">Pijar Mahir</a
        >—a course-taking platform where users can learn and earn certificates,
        and <a class="link" href="https://pijarsekolah.id" target="_blank"
          >Pijar Sekolah</a
        >—an education platform where teachers manage assignments, students complete
        tasks, and parents track progress and communicate with teachers.
      </motion.p>
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        I love building apps that look great and feel even better to use. I'm
        also passionate about animations and enjoy crafting smooth, delightful
        interactions. Check out some of my projects—like my animation
        experiments on <a
          href="https://github.com/fahrimz/oneDayOneSlice/tree/main/results/README.md"
          target="_blank"
          class="link">GitHub</a
        >.
      </motion.p>
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        While my primary focus is <strong>React Native</strong>, I'm also
        experienced with
        <strong>Jetpack Compose</strong>, <strong>SwiftUI</strong>, and <strong
          >Flutter</strong
        >. Ultimately, these are just tools—what drives me is solving problems
        and bringing ideas to life.
      </motion.p>
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        Beyond code, I love exploring web novels, games and movies—sources of
        creativity that often spark new ideas. If you're into tech, creative
        challenges, or just want to chat about these, let's connect!
      </motion.p>
      <motion.p
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}>You can find me here:</motion.p
      >
      <motion.ul
        className="flex gap-4"
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 0.3, duration: 1 }}
      >
        <li>
          <a class="link" target="_blank" href="https://github.com/fahrimz"
            >GitHub</a
          >
        </li>
        <li>
          <a class="link" target="_blank" href="https://linkedin.com/in/fahrimz"
            >Linkedin</a
          >
        </li>
      </motion.ul>
    </main>
  </body>
</html>
