---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="px-8 pt-4 flex flex-row items-center justify-between">
    <a class="text-xl text-black" href="/">{SITE_TITLE}</a>
    <div class="space-x-4">
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
    </div>
  </nav>
  <hr class="mt-4 mx-8" />
</header>

<style>
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  .links a {
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
  }
</style>
