---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const explorations = [
  { name: "SNAKE", link: "/explorations/snake" },
  { name: "2048", link: "/explorations/2048" },
];

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-full flex flex-col gap-4 max-w-3xl mx-auto mb-20">
    <Header />
    <main class="main">
      <h1>Explorations</h1>

      <ol class="list-decimal list-inside">
        {explorations.map((exploration) => (
          <li>
            <a href={exploration.link}>{exploration.name}</a>
          </li>
        ))}
      </ol>
    </main>
  </body>
</html>
