---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { motion } from "motion/react";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="h-full flex flex-col gap-4 max-w-3xl mx-auto mb-20">
    <Header />
    <main class="h-full px-8 flex flex-col gap-4">
      <h1>Explorations</h1>

      <ol class="list-decimal list-inside">
        <li>
          <a href="/explorations/snake">SNAKE</a>
        </li>
      </ol>
    </main>
  </body>
</html>
